.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin:20px
}

h1 {
  font-size: 28px;
  color: #333333;
  margin: 0 0 20px;
  text-align: center;
}

p {
  font-size: 16px;
  color: #666666;
  line-height: 1.5;
  margin-bottom: 20px;
  padding:20px
}

.signature {
  text-align: center;
  font-style: italic;
  color: #999999;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  
}
